@model IEnumerable<Livraria.UI.Models.LivroConsultaModel>

@{
    ViewData["Title"] = "Consulta";
}

<h2>Consulta</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemCapaUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody @if (Model != null) { @foreach (var item in Model) {<tr>
            <td>
            @Html.DisplayFor(modelItem => item.IdLivro)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImagemCapaUrl)" , alt="Image" />

            </td>
            <td>
                <a href="@Url.Action("Edicao", "Livro", new { id = item.IdLivro })" class="btn btn-sm btn-primary">Editar</a>

                @Html.ActionLink("Excluir", "Exclusao",
                    new { id = item.IdLivro },
                    new { onclick = "return confirm('Tem certeza que deseja excluir?')", @class = "btn btn-sm btn-dark" })

            </td>
            </tr>
        }
}


    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert" style="margin-top: 0.5rem;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @ViewBag.Message
    </div>
}
